@model Actividad_1.Models.MiPerfilViewModel
<label>
	Nombre: @Model.nombre <br />
</label>
<label>
	Edad: @Model.edad <br />
</label>
<label>
	Numero: @Model.numerodecontrol <br />
</label>
<label>
	Fecha de nacimiento: @Model.Fecha <br />
</label>
<label>
	Correo: @Model.Correo
</label>